In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])

In [10]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
ranger = range(15)

In [12]:
ranger

range(0, 15)

In [13]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [16]:
dframe = DataFrame(randn(25).reshape((5, 5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2','col3', 'col4', 'col5'])

In [17]:
dframe

       col1      col2      col3      col4      col5
A -0.236867 -0.872155 -1.024851 -0.180968  0.166556
B  0.076615 -1.543849 -0.685996  0.460731  0.763784
D -0.531002 -1.890080 -0.253759  0.117446  0.785338
E  0.397248 -0.286740  0.630241 -0.659770 -0.650552
F  0.465136  1.196024 -0.375728  0.974655  0.728962

In [18]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [19]:
dframe2

       col1      col2      col3      col4      col5
A -0.236867 -0.872155 -1.024851 -0.180968  0.166556
B  0.076615 -1.543849 -0.685996  0.460731  0.763784
C       NaN       NaN       NaN       NaN       NaN
D -0.531002 -1.890080 -0.253759  0.117446  0.785338
E  0.397248 -0.286740  0.630241 -0.659770 -0.650552
F  0.465136  1.196024 -0.375728  0.974655  0.728962

In [20]:
new_columns=['col1', 'col2','col3','col4', 'col5','col6']

In [21]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.236867 -0.872155 -1.024851 -0.180968  0.166556   NaN
B  0.076615 -1.543849 -0.685996  0.460731  0.763784   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.531002 -1.890080 -0.253759  0.117446  0.785338   NaN
E  0.397248 -0.286740  0.630241 -0.659770 -0.650552   NaN
F  0.465136  1.196024 -0.375728  0.974655  0.728962   NaN